* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black; 
    color: white;
    font-size: .7em;
}

/* header */

.header-container {
    margin: auto;
    max-width: 1900px;
    border: 3px solid green;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.header-set {
    margin-right: .5em;
}

.header-set-container {
    height: fit-content;
    margin: 5px 5px 0 0;
    padding: 5px 0 5px 5px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.329);
}

.header-set-small-container {
    height: fit-content;
    margin: 5px 5px 0 0;
    padding: 5px 0 5px 5px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.329);
}

/* main */

main {
    border: 2px solid red;

    max-width: 1900px;
    margin: auto;
    height: calc(100vh - 50px - 70px);
    overflow-y: scroll; 
}

.main-container {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    gap: .5em;
}

.main-content {
    min-width: 150px;
    flex-basis: calc(100% / 7 - 5px);
}

.main-content img {
    width: 100%;
}